body{
    background-color:black;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    min-height: 100vh;
}

.post{
    background-color: aliceblue;
    width:40%;
    

}