body{
    background-color:black;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}

.post{
    display: flex;
    justify-content: center;
    width:30%;
    background-color:white;
    align-items: center;
    flex-direction:column;
}

.header{
    display: flex;
    width:100%;
    align-items:center;
}

.informacion{
    display:flex;
    width: 100%;
    justify-content:space-between;
    margin: 5px;
}

.logo-y-texto-derecha{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.texto-apilado{
    display:flex;
    flex-direction: column;
}

.logotipo{
    display:flex;
    align-items:center;
    padding: 5px;
    font-size:28px;
}

.opciones{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    margin:10px;
}

.iconos{
    display:flex;
    width: 100%;
    justify-content: space-between;

}